body{
    background-color: black;
    height: 100%;
    width: 100%;
}
.navbarheader a{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;


}

.topnav {
    background-color: gray;
    overflow: hidden;
    text-align: center;
}


form.input-button input[type=text]{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    border: 1px solid red;
    float: left;
    width: 80%;
}

form.input-button button {
    width: 16%;
    float: left;
    padding: 10px;
    font-size: 17px;

}

.row .posterImg{
    width: 80%;
}

h2, h3 {
    color: white;
}

/* Add media query to make the UI responsive */
@media (min-width: 768px){
    
   
}